.excelDefaults {
	background-color: white;
	color: black;
	text-decoration: none;
	direction: ltr;
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	word-spacing: 0;
	white-space: pre-wrap;
	unicode-bidi: normal;
	background-image: none;
	text-shadow: none;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	vertical-align: bottom;
	font-style: normal;
	font-family: sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	text-align: right;
	table-layout: fixed;
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin-bottom: 40px;
	width: 100% !important;
}

.excelDefaults td {
	padding: 1px 5px;
	border: 1px solid silver;
}

.excelDefaults .colHeader {
	background-color: silver;
	font-weight: bold;
	border: 1px solid black;
	text-align: center;
	padding: 1px 5px;
}

.excelDefaults .rowHeader {
	background-color: silver;
	font-weight: bold;
	border: 1px solid black;
	text-align: right;
	padding: 1px 5px;
}
.tabs{
	display: flex;
    align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: silver;
	border: 1px solid #3a3a3a;
}
.tabs button{
	border: 0;
	outline: none;
	font-size: 13px;
	padding: 10px 14px;
	background: transparent;
}
.tabs .on{
	background: #fff;
	color: #287d00;
}